* {
  margin: 0px;
}
.main {
  display: flex;
  flex-direction: column;
  
}

.clock {
  background-color: #b8747e;
  padding: 30px;
  font-weight: 100;
  color: #f5e9cf;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
}

.cabec_cron {
  width: 100%;
  padding: 30px;
  text-align: center;
  align-self: center;
  font-size: 50px;
  color: #f5e9cf;
  background-color: #4d455d;
}

.buttons {
  height: auto;
  padding: 30px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #7db9b6;
}
button {
  width: 170px;
  height: 80px;
  margin: 20px;
  border-radius: 40px;
  border: solid #7db9b6 5px;
  background-color: rgb(87, 132, 132);
  color: aliceblue;
  font-size: 30px;
}

._pause_color {
  color: #4d455d;
}


